{
  "openapi": "3.0.2",
  "info": {
    "title": "Celeste API",
    "description": "Celeste API Documentation",
    "termsOfService": "https://github.com/Nuxify/celeste",
    "contact": {
      "name": "Nuxify Inc.",
      "email": "hello@nuxify.tech"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://celeste-api.nuxify.tech/v1",
      "description": "Production"
    },
    {
      "url": "https://staging-celeste-api.nuxify.tech/v1",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8000/v1",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "iam",
      "description": "IAM service"
    },
    {
      "name": "user",
      "description": "User service"
    }
  ],
  "paths": {
    "/user": {
      "post": {
        "tags": ["user"],
        "summary": "Create User",
        "description": "Creates a user",
        "requestBody": {
          "description": "Creates a user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/{id}": {
      "get": {
        "tags": ["user"],
        "summary": "Get User By ID",
        "description": "Get user by its id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateUserRequest": {
        "required": ["id", "data"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      }
    }
  }
}
