{
  "openapi": "3.0.2",
  "info": {
    "title": "Celeste API",
    "description": "Celeste API Documentation",
    "termsOfService": "https://github.com/Nuxify/celeste",
    "contact": {
      "name": "Nuxify Inc.",
      "email": "hello@nuxify.tech"
    },
    "version": "0.2.0"
  },
  "servers": [
    {
      "url": "https://celeste-api.nuxify.tech/v1",
      "description": "Production"
    },
    {
      "url": "https://staging-celeste-api.nuxify.tech/v1",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8000/v1",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": "User service"
    }
  ],
  "paths": {
    "/user/add": {
      "post": {
        "tags": ["user"],
        "summary": "Create User",
        "description": "Creates a user",
        "requestBody": {
          "description": "Creates a user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/APIResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CreateUserResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "4xx": {
            "description": "Client side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "5xx": {
            "description": "Server side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/list": {
      "get": {
        "tags": ["user"],
        "summary": "Get Users",
        "description": "Get all users",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/APIResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "users": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/GetUserResponse"
                              }
                            },
                            "totalCount": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "4xx": {
            "description": "Client side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "5xx": {
            "description": "Server side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{walletAddress}": {
      "get": {
        "tags": ["user"],
        "summary": "Get User By Wallet Address",
        "description": "Get current user",
        "parameters": [
          {
            "name": "walletAddress",
            "in": "path",
            "description": "wallet address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/APIResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/GetUserResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "4xx": {
            "description": "Client side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "5xx": {
            "description": "Server side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/verified/update": {
      "put": {
        "tags": ["user"],
        "summary": "Update User Email Verified At",
        "description": "Update user email verified at",
        "requestBody": {
          "description": "Update user email verified at request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserEmailVerifiedAtRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "4xx": {
            "description": "Client side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "5xx": {
            "description": "Server side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{walletAddress}/update": {
      "put": {
        "tags": ["user"],
        "summary": "Update User By Wallet Address",
        "description": "Update user by wallet address",
        "parameters": [
          {
            "name": "walletAddress",
            "in": "path",
            "description": "wallet address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/APIResponse"
                    }
                  ]
                }
              }
            }
          },
          "4xx": {
            "description": "Client side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "5xx": {
            "description": "Server side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{walletAddress}/password/update": {
      "put": {
        "tags": ["user"],
        "summary": "Update User Password By Wallet Address",
        "description": "Update user password by wallet address",
        "parameters": [
          {
            "name": "walletAddress",
            "in": "path",
            "description": "wallet address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update user password request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/APIResponse"
                    }
                  ]
                }
              }
            }
          },
          "4xx": {
            "description": "Client side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "5xx": {
            "description": "Server side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateUserRequest": {
        "required": ["email", "name", "password"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "UpdateUserRequest": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "UpdateUserEmailVerifiedAtRequest": {
        "required": ["email"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "UpdateUserPasswordRequest": {
        "required": ["currentPassword", "newPassword"],
        "type": "object",
        "properties": {
          "currentPassword": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "APIResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "type": "object",
            "example": {}
          }
        }
      },
      "APIErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Bad Request"
          },
          "errorCode": {
            "type": "string",
            "example": "BAD_REQUEST"
          },
          "data": {
            "type": "object",
            "example": {}
          }
        }
      },
      "CreateUserResponse": {
        "type": "object",
        "properties": {
          "sss2": {
            "type": "string"
          },
          "sss3": {
            "type": "string"
          }
        }
      },
      "GetUserResponse": {
        "type": "object",
        "properties": {
          "walletAddress": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "emailVerifiedAt": {
            "type": "integer",
            "nullable": true
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      }
    }
  }
}
